* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 25%;
}

.hidden {
    display:none;
}

#ui {
    padding: 5px;
    margin: 100px auto;
    z-index: 99;
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#ui button {
    padding: 10px;
    margin: 5px auto;
}

#myMosaic img.invisible {
    opacity: 0.2;
}

#myMosaic img {
    opacity: 1.0;
}

#myMosaic img:hover {
    opacity: 0.5;
}

.transition {
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s;   
}