* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url(https://cdn2.thecatapi.com/images/38i.jpg) no-repeat center center fixed;
    background-size: cover;
}

.blank {
    background: none;
}

.center {
    margin: 0 auto;
}


/* Hide scrollbar for Chrome, Safari and Opera */

*::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}